<!DOCTYPE html>
<nav id="main-nav" class="navbar navbar-expand-md fixed-top py-0">
	<a class="navbar-brand" href="/">
		<img alt ="" src="images/logos/brimstone-haunt-logo_textured-2020.png">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav-menu" aria-controls="main-nav-menu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon navbar-toggler-icon-white"></span>
	</button>
	<div class="collapse navbar-collapse flex-md-column" id="main-nav-menu">
		<ul id="navbar-social-links" class="navbar-nav ml-auto justify-content-center">
			<li class="nav-item">
				<a href="http://www.twitter.com/brimstonehaunt" target="_blank">
					<span class="fab fa-twitter fa-icon-small bg-transparent"></span>
				</a>
			</li>
			<li class="nav-item ml-2">
				<a href="http://www.facebook.com/brimstonehaunt" target="_blank">
					<span class="fab fa-facebook-f fa-icon-small bg-transparent"></span>
				</a>
			</li>
			<li class="nav-item ml-2">
				<a href="http://www.instagram.com/brimstonehaunt" target="_blank">
					<span class="fab fa-instagram fa-icon-small bg-transparent"></span>
				</a>
			</li>
			<li class="nav-item ml-2">
				<a href="https://www.youtube.com/channel/UCgWZui6ksqZNi7_2BMrfjRw" target="_blank">
					<span class="fab fa-youtube fa-icon-small bg-transparent"></span>
				</a>
			</li>
		</ul>
		{{#if homepage}}
			<ul class="navbar-nav ml-auto my-5 my-md-auto">
				<li class="nav-item d-inline-block d-md-none d-xl-inline-block">
					<a class="nav-link" href="javascript:void(0);" title="Haunted Hayride" onclick="scrollPageTo('#hayride');">Haunted Hayride</a>
				</li>
				<li class="nav-item d-inline-block d-md-none d-xl-inline-block">
					<a class="nav-link" href="javascript:void(0);" title="Forgoten Forest" onclick="scrollPageTo('#forest');">Forgoten Forest</a>
				</li>
				<li class="nav-item d-inline-block d-md-none d-xl-inline-block">
					<a class="nav-link" href="javascript:void(0);" title="Psychosis" onclick="scrollPageTo('#psychosis');">Psychosis</a>
				</li>
				<li class="nav-item d-inline-block d-md-none d-xl-inline-block">
					<a class="nav-link" href="javascript:void(0);" title="Zombie Assault" onclick="scrollPageTo('#zombie');">Zombie Assault</a>
				</li>

				<li class="nav-item dropdown d-none d-md-inline-block d-xl-none">
					<a class="nav-link dropdown-toggle" href="#" id="attractionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Attractions
					</a>
					<div class="dropdown-menu dropdown-menu-right dropleft" aria-labelledby="attractionDropdown">
						<a class="dropdown-item" href="javascript:void(0);" title="Haunted Hayride" onclick="scrollPageTo('#hayride');">Haunted Hayride</a>
						<a class="dropdown-item" href="javascript:void(0);" title="Forgoten Forest" onclick="scrollPageTo('#forest');">Forgoten Forest</a>
						<a class="dropdown-item" href="javascript:void(0);" title="Psychosis" onclick="scrollPageTo('#psychosis');">Psychosis</a>
						<a class="dropdown-item" href="javascript:void(0);" title="Zombie Assault" onclick="scrollPageTo('#zombie');">Zombie Assault</a>
					</div>
				</li>

				<li class="nav-item"><a class="nav-link" href="javascript:void(0);" title="Tickets" onclick="scrollPageTo('#tickets');">Tickets</a></li>
				<li class="nav-item"><a class="nav-link" href="javascript:void(0);" title="Directions" onclick="scrollPageTo('#directions');">Directions</a></li>
				<li class="nav-item"><a class="nav-link" href="javascript:void(0);" title="FAQ" onclick="scrollPageTo('#faq');">FAQ</a></li>
			</ul>
		{{/if}}
	</div>
</nav>