<!DOCTYPE html>
<nav id="main-nav" class="navbar navbar-expand-md fixed-top py-0">
	<a class="navbar-brand" href="/">
		<img alt ="" src="images/logos/brimstone_haunt_flat_color.png">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav-menu" aria-controls="main-nav-menu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon navbar-toggler-icon-white"></span>
	</button>
	<div class="collapse navbar-collapse" id="main-nav-menu">
		{{#if homepage}}
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="scrollPageTo('#attractions');" title="Attractions">Attractions</a></li>
				<li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="scrollPageTo('#tickets');"title="Tickets">Tickets</a></li>
				<li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="scrollPageTo('#directions');" title="Directions">Directions</a></li>
				<li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="scrollPageTo('#faq');" title="FAQ">FAQ</a></li>
				<li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="scrollPageTo('#about');" title="About Us">About Us</a></li>
			</ul>
		{{/if}}
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Links
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<!-- <a href="http://blog.brimstonehaunt.com" target="_blank">Brimstone Blog</a> -->
					<a class="dropdown-item" href="/gallery">Gallery</a>
					<a class="dropdown-item" href="/sponsors">Sponsors</a>
					<a class="dropdown-item" href="/news">News</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="http://www.renparkusa.com" target="_blank">Renaissance Park</a>
					<!-- <a class="dropdown-item" href="http://www.renfestival.com" target="_blank">Ohio Renaissance Festival</a>
					<a class="dropdown-item" href="http://www.celticfestohio.com" target="_blank">Celtic Fest Ohio</a>
					<a class="dropdown-item" href="http://www.1572roadhousebarbq.com" target="_blank">1572 Roadhouse BarB-Q</a>
					<a class="dropdown-item" href="http://www.renparkhenge.com" target="_blank">Sun Henge</a> -->
				</div>
			</li>
		</ul>
	</div>
</nav>