<div id="application-page" class="container-fluid">
	<div class="row justify-content-center my-5">
		<div class="col">
			<center><h2>Thank You!</h2></center>
		</div>
	</div>
	<div class="row justify-content-center my-5">
		<div class="col-md-6">
			<p>
				We have received your application and will review it. We will contact you within 3 business days. If you have not heard from us by then please check your email spam folder or you may reach out to us at <a href="mailto:contact@brimstonehaunt.com">contact@brimstonehaunt.com</a> with any questions.
			</p>
		</div>
	</div>
	<div class="row justify-content-center my-5">
		<div class="col">
			<center><a href="/">Return to Home Page</a></center>
		</div>
	</div>
</div>
