<div id="applicationlist-page" class="container-fluid py-5">
	<div class="row">
		<div class="col">
			<h1 class="ml-lg-3">{{appListType}} Applications</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div id="app-list" class="list-group">
				<script type="text/javascript">
					var startPre = 1;
					var endPre = 5;
					var predays = ["", "Saturday 9/7 (Rehearsal Day 1)", "Sunday 9/8 (Rehearsal Day 2)", "Saturday 9/14 (Rehearsal Day 3)", "Sunday 9/15 (Rehearsal Day 4)", "Saturday 9/21 (Dry Run)"];
					
					var startWeek = 2;
					var endWeek = 6;
					var fridays = ["", "", "Friday 9/27", "Friday 10/4", "Friday 10/11", "Friday 10/18", "Friday 10/25"];
					var saturdays = ["", "", "Saturday 9/28", "Saturday 10/5", "Saturday 10/12", "Saturday 10/19", "Saturday 10/26"];
				</script>
				{{#if (eq appListType 'Hired')}}
					{{#each appList}}
						{{> management/applicationlistitem}}
					{{/each}}
				{{else}}
					{{#if (gt user.accessLvl 3)}}
						{{#each appList}}
							{{#if (eq null this.position.id) }}
								{{> management/applicationlistitem}}
							{{/if}}
						{{/each}}
					{{/if}}
					{{#each positions}}
						{{#if (or (gt ../user.accessLvl 3) (eq id ../user.position))}}
							<div class="row list-group-header" data-header-position-id="{{ this.id }}">
								<div class="col">
									<h3><center>{{this.title}}</center></h3>
								</div>
							</div>
							{{#each ../appList}}
								{{#if (eq ../id this.position.id) }}
									{{> management/applicationlistitem}}
								{{/if}}
							{{/each}}
						{{/if}}
					{{/each}}
				{{/if}}
			</div>
		</div>
	</div>
</div>