<div id="changepassword-page" class="container-fluid">
	<div class="row justify-content-center py-3">
		<div class="col-auto">
			<h2>Please change your password</h2>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-auto">
			<span class="text-danger">{{ message }}</span>
		</div>
	</div>
	<div class="row my-5 justify-content-center">
		<div class="col-md-6 col-sm-10 col-12">
			<form action="/user/changepassword" method="post">
				<input name="email" type="hidden" value="{{email}}">
				<div class="row">
					<div class="col">
						<input name="password" class="form-control" type="password" value="" placeholder="Current Password" required><br>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input name="newPassword" class="form-control" type="password" value="" placeholder="New Password" required><br>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input name="confirmNewPassword" class="form-control" type="password" value="" placeholder="Confirm New Password" required><br>
					</div>
				</div>
				<div class="row my-5 justify-content-center">
					<div class="col-sm-6">
						<input type="submit" class="btn btn-primary btn-block" value="Change Password">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>