<div id="clockedin-page" class="container-fluid py-5">
    <div class="row">
        <div class="col">
            <h1 class="ml-lg-3">Clocked In Employees</h1>
        </div>
        {{#if (gt user.accessLvl 4) }}
            <div class="col-auto">
                <button class="btn btn-danger" onclick="clockoutAll();">Clock Out All</button>
            </div>
        {{/if}}
    </div>
    {{#if (gt user.accessLvl 3)}}
        {{#each timeEntries}}
            {{#if (eq null this.user.position) }}
                {{> management/clockedinitem}}
            {{/if}}
        {{/each}}
    {{/if}}
    {{#each positions}}
        {{#if (or (gt ../user.accessLvl 3) (eq id ../user.position))}}
            <div class="row list-group-header" data-header-position-id="{{ this.id }}">
                <div class="col">
                    <h3><center>{{this.title}}</center></h3>
                </div>
            </div>
            {{#each ../timeEntries}}
                {{#if (eq ../id this.user.position) }}
                    {{> management/clockedinitem}}
                {{/if}}
            {{/each}}
        {{/if}}
    {{/each}}
</div>