<div id="photos-page" class="container-fluid">
	<div class="row">
		<div class="col">
			<h2>Photos</h2>
		</div>
	</div>
	<div class="row">
		<div class="img-container col-lg-3 col-md-4 col-sm-6">
			<a href="media/img/hayride.jpeg" target="_blank"><img src="media/img/hayride.jpeg" /></a>
		</div>
		<div class="img-container col-lg-3 col-md-4 col-sm-6">
			<a href="media/img/black_forest.jpeg" target="_blank"><img src="media/img/black_forest.jpeg" /></a>
		</div>
	</div>
</div>