<div id="login-page" class="container-fluid">
    <!-- <div class="row" style="background-color: red; padding: 25px; font-size: 16px; color: black;">
        <div class="col">
            <center>10/26/2019 2:30pm - WE WILL BE CLOSED DUE TO WEATHER TONIGHT (10/26)! WE LOOK FORWARD TO SEEING YOU NEXT YEAR!</center>
        </div>
    </div> -->
	<form action="/login" method="post">
		<div class="row justify-content-center py-3">
			<div class="col-auto">
				<h2>Please login</h2>
			</div>
		</div>
		<div class="row justify-content-center py-3">
			<div class="col-md-6">
				<center>If you are a current Brimstone Haunt Employee please login below. If you are interested in becoming a Brimstone Haunt employee please feel free to <a href="/apply">fill out an application</a>.</center>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-auto">
				<span class="text-danger">{{ message }}</span>
			</div>
		</div>
		<div class="row justify-content-center py-3">
			<div class="col-md-4 col-sm-6">
				<input name="email" class="form-control" type="text" value="" placeholder="Username" required>
			</div>
		</div>
		<div class="row justify-content-center py-3">
			<div class="col-md-4 col-sm-6">
				<input name="password" class="form-control" type="password" value="" placeholder="Password" required>
			</div>
		</div>
		<div class="row justify-content-center my-3">
			<div class="col-auto">
				<a href="/user/resetpassword">Forgot Password</a>
			</div>
		</div>
		<div class="row justify-content-center py-3">
			<div class="col-auto">
				<button class="btn btn-primary">LOG IN</button>
			</div>
		</div>
	</form>
</div>
