<!DOCTYPE html>
<div id="news-page" class="container-fluid">
	<div class="row">
		<div class="col">
			<h2>2018 News</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ul>
				<li><a href="/media/pdf/media_release_2018.pdf" target="_blank">Media Release</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h2>2017 News</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ul>
				<li><a href="/media/pdf/media_release_08242017.pdf" target="_blank">Media Release</a></li>
				<li><a href="https://www.thescarefactor.com/haunt-blog/2017-top-ohio-haunted-houses-list/" target="_blank">#2 In Ohio on The Scare Factor's Top 10 Must See List</a></li>
			</ul>
		</div>
	</div>
</div>