<!DOCTYPE html>
<div id="news-page" class="container-fluid py-5">
	<div class="row mb-5">
		<div class="col">
			<h1>Press Releases</h1>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col col-md-10 col-lg-8 col-xl-6">
			<ul class="list-group">
				{{!-- Header --}}
				<li class="list-group-item list-group-item-dark">
					<div class="row">
						<div class="col-6">
							Headline
						</div>
						<div class="col-3">
							Date
						</div>
						<div class="col-3">
							Download
						</div>
					</div>
				</li>
				{{!-- 2020 --}}
				<li class="list-group-item">
					<div class="row">
						<div class="col-6">
							Brimstone Haunt Press Release 2020
						</div>
						<div class="col-3">
							September 2020
						</div>
						<div class="col-3">
							<a href="/media/pdf/media_release_2020.pdf">Download</a>
						</div>
					</div>
				</li>
				{{!-- 2019 --}}
				<li class="list-group-item">
					<div class="row">
						<div class="col-6">
							Brimstone Haunt Opens September 27
						</div>
						<div class="col-3">
							September 2019
						</div>
						<div class="col-3">
							<a href="/media/pdf/media_release_2019.pdf">Download</a>
						</div>
					</div>
				</li>
				{{!-- 2018 --}}
				<li class="list-group-item">
					<div class="row">
						<div class="col-6">
							Brimstone Haunt Press Release 2018
						</div>
						<div class="col-3">
							August 2018
						</div>
						<div class="col-3">
							<a href="/media/pdf/media_release_2018.pdf">Download</a>
						</div>
					</div>
				</li>
				{{!-- 2017 --}}
				<li class="list-group-item">
					<div class="row">
						<div class="col-6">
							New Haunted Attractions Opening September 22 At Renaissance Park Event Center
						</div>
						<div class="col-3">
							August 2017
						</div>
						<div class="col-3">
							<a href="/media/pdf/media_release_08242017.pdf">Download</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>