<!DOCTYPE html>
<div id="policy-page" class="container-fluid py-5">
	<div class="row mb-5">
		<div class="col">
			<h1>Policies</h1>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col col-md-10 col-lg-8 col-xl-6">
			<ul class="list-group">
				{{!-- Header --}}
				<li class="list-group-item list-group-item-dark">
					<div class="row">
						<div class="col-8">
							Policy
						</div>
						<div class="col-4">
							Date Updated
						</div>
					</div>
				</li>
				{{!-- COVID --}}
				<li class="list-group-item list-group-item-action" data-target="#policy1">
					<div class="row">
						<div class="col-8">
							COVID-19 Health and Safety
						</div>
						<div class="col-4">
							September 2020
						</div>
					</div>
				</li>
                <li id="policy1" class="list-group-item collapse">
                    <div class="row mb-3">
                        <div class="col">
                            <h5>WHAT YOU NEED TO KNOW:</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><strong>MASK POLICY – </strong>Guests must wear a mask when inside of a structure or when social distancing cannot be achieved in accordance with Ohio Mask Mandate.<super>**</super> All employees will be required to wear a mask. We will perform temperature checks on all staff before they are permitted to go to their scene.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><strong>SYMPTOMS – </strong>We will perform temperature checks on all staff before they are permitted to go to their scene/station. All staff have been asked to remain home if they feel sick or show any symptoms. We ask guests to do the same.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><strong>SANITATION – </strong>We have placed hand sanitizer at multiple convenient locations on the property. We ask guests to maintain healthy practices such as washing hands regularly and using hand sanitizer.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><strong>DISTANCING – </strong>Socially distanced queue lines will be in place to separate guests as well as ground markings. Groups will be socially distanced throughout attractions with increased timing between groups.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><strong>RISK – </strong>An inherent risk of exposure to COVID-19 exists in any public place where people are present.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><super>**</super>All Ohio Mask Mandate Exclusions Apply</p>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <img src="media/img/covid_response_2020.jpg" title="COVID Response Poster" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5>Contact Us</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>If you have questions or comments about this COVID-19 Policy, please contact us at: <a href="mailto:contact@brimstonehaunt.com">contact@BrimstoneHaunt.com</a>.</p>
                        </div>
                    </div>
                </li>
                {{!-- PHOTO AND VIDEO --}}
				<li class="list-group-item list-group-item-action" data-target="#policy2">
					<div class="row">
						<div class="col-8">
							Photography and Video
						</div>
						<div class="col-4">
							August 2018
						</div>
					</div>
				</li>
                <li id="policy2" class="list-group-item collapse">
                    <div class="row">
                        <div class="col">
                            <h5>Vistor Camera Use</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>All photography and video is prohibited inside of the attractions. It is allowed in queue lines and the midway/tickets/concessions area.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5>Our Camera Use</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>While visiting Brimstone Haunt, you may be photographed or video recorded. These images and video may be used in the future for educational or marketing purposes. Admission to Brimstone Haunt or its programs serves as permission for image and video use.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5>Contact Us</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>If you have questions or comments about this Photography and Video Policy, please contact us at: <a href="mailto:contact@brimstonehaunt.com">contact@BrimstoneHaunt.com</a>.</p>
                        </div>
                    </div>
                </li>
                {{!-- COOKIES --}}
				<li class="list-group-item list-group-item-action" data-target="#policy3">
					<div class="row">
						<div class="col-8">
							Web Cookies
						</div>
						<div class="col-4">
							September 2020
						</div>
					</div>
				</li>
                <li id="policy3" class="list-group-item collapse">
                    <div class="row">
                        <div class="col">
                            <h5>Introduction</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Brimstone Haunt may use cookies, and other tracking technologies when you visit our website [brimstonehaunt.com.com], including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the “Site”) to help customize the Site and improve your experience.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>We reserve the right to make changes to this Cookie Policy at any time and for any reason. We will alert you about any changes by updating the “Last Updated” date of this Cookie Policy. Any changes or modifications will be effective immediately upon posting the updated Cookie Policy on the Site, and you waive the right to receive specific notice of each such change or modification.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>You are encouraged to periodically review this Cookie Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Cookie Policy by your continued use of the Site after the date such revised Cookie Policy is posted.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5>Use of Cookies</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>A “cookie” is a string of information which assigns you a unique identifier that we store on your computer. Your browser then provides that unique identifier to use each time you submit a query to the Site. We use cookies on the Site to, among other things, keep track of services you have used, record registration information, record your user preferences, keep you logged into the Site, facilitate purchase procedures, and track the pages you visit. Cookies help us understand how the Site is being used and improve your user experience.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5>Contact Us</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>If you have questions or comments about this Cookie Policy, please contact us at: <a href="mailto:contact@brimstonehaunt.com">contact@BrimstoneHaunt.com</a>.</p>
                        </div>
                    </div>
                </li>
			</ul>
		</div>
	</div>
</div>