<div id="changepassword-page" class="container-fluid">
	<div class="row justify-content-center py-3">
		<div class="col-auto">
			<h2>Enter your email to rest your password</h2>
		</div>
	</div>
	<div class="row my-5 justify-content-center">
		<div class="col-md-6 col-sm-10 col-12">
			<form action="/user/resetpassword" method="post">
				<div class="row">
					<div class="col">
						<input name="email" class="form-control" type="email" value="" placeholder="Email" required><br>
					</div>
				</div>
				<div class="row my-5 justify-content-center">
					<div class="col-sm-6">
						<input type="submit" class="btn btn-primary btn-block" value="Reset Password">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>