<div id="sponsor-page" class="container-fluid bg-1">
	<div class="mask">
		<div class="content-narrow" style="margin-bottom: 100px;">
			<div id="sponsors"  class="section">
				<div class="row section-heading">
					<div class="col">
						<center><h2>Our Sponsors</h2></center>
					</div>
				</div>
				<div class="row section-content">
					<div class="col">
						<a href="https://www.pepsi.com" target="_blank"><img src="media/img/sponsors/pepsi.jpg" /></a>
					</div>
					<div class="col">
						<a href="http://www.ohiohauntedhouses.com" target="_blank"><img src="media/img/sponsors/ohio_hh_logo.png" /></a>
					</div>
				</div>
			</div>
			<div id="partners"  class="section">
				<div class="row section-heading">
					<div class="col">
						<center><h2>Our Partners</h2></center>
					</div>
				</div>
				<div class="row section-content">
					<div class="col">
						<a href="http://www.renfestival.com" target="_blank"><img src="media/img/sponsors/renfest_logo.png" /></a>
					</div>
					<div class="col">
						<a href="http://www.celticfestohio.com" target="_blank"><img src="media/img/sponsors/celticfest_logo.png" /></a>
					</div>
					<div class="col">
						<a href="http://www.1572roadhousebarbq.com" target="_blank"><img src="media/img/sponsors/bbq_logo.png" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>