<div id="timeclock-page" class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-auto">
			<button id="clock-in-btn" class="btn btn-success">Clock In Now</button>
			<button id="clock-out-btn" class="btn btn-danger">Clock Out Now</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-secondary">Start Clock At</button>
			<button class="btn btn-secondary">Stop Clock At</button>
		</div>
	</div>
</div>
