<!DOCTYPE html>
<footer class="footer dark">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-auto text-center">
				<span>&copy;2020 Brimstone Haunt LLC | <a href="mailto:contact@BrimstoneHaunt.com" class="subtle-link">contact@BrimstoneHaunt.com</a></span>
			</div>
		</div>
	</div>
</footer>
