/*
	RED: 	#F73327
	ORANGE: #BE4816
*/


@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


/* ----------------------------------------------------
  |                                                    |
  |	GENERAL                                            |
  |                                                    |
   ---------------------------------------------------- */
.container-fluid {
	position: relative;
	overflow: hidden;
}

.text-justify {
	text-align-last: center;
}

.text-danger {
	color: #F73327!important;
}

.list-group-item-action {
	cursor: pointer;
}

img
{
	max-width: 100%;
	max-height: 100%;
}

ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

.btn, .btn:hover, .btn:focus, .btn:active, 
.btn:active:hover, .btn:active:focus
{
	font-family: 'Raleway', sans-serif;
}

.link-unstyled {
	&, &:visited, &:hover, &:active, &:focus, &:active:hover {
		font-style: inherit;
		color: inherit;
		background-color: transparent;
		font-size: inherit;
		text-decoration: none;
		font-variant: inherit;
		font-weight: inherit;
		line-height: inherit;
		font-family: inherit;
	}
}

label.error {
	color: red;
}

.fine-print {
	font-size: 0.75rem;

	&.dividers {
		border-left: 2px solid white;
		border-right: 2px solid white;
	}
}

/* ----------------------------------------------------
  |                                                    |
  |	HEADINGS                                           |
  |                                                    |
   ---------------------------------------------------- */

h1
{
	font-size: 6rem;
	padding: 10px 0px;
	margin: 0;
	font-weight: bold;
}

h2
{
	font-size: 5rem;
	padding: 10px 0px;
	margin: 0;
	font-weight: bold;
}

h3
{
	font-size: 4rem;
	padding: 10px 0px;
	margin: 0;
	font-weight: bold;
}

h4
{
	font-size: 2rem;
	padding: 10px 0px;
	margin: 0;
	font-weight: bold;
}

h5
{
	font-size: 1.5rem;
	padding: 10px 0px;
	margin: 0;
	font-weight: bold;
}

.h-font, [class^="h-font-"], div[class*=" h-font-"] {
	font-family: 'Six Caps', sans-serif;
}

.h-font-md {
	font-size: 1.5rem;
	line-height: 1;
}

.h-font-lg {
	font-size: 3rem;
	line-height: 1;
}

/* ----------------------------------------------------
  |                                                    |
  |	FONT AWESOME                                       |
  |                                                    |
   ---------------------------------------------------- */

.fa, .fas, .far, .fab
{
	margin: 5px;
	
	&.icon-circle
	{ 
		border-radius: 50%;
		text-align: center;
	}
	
	&.icon-zoom 
	{ 
		-webkit-transition: 0.25s ease-in-out;
		-moz-transition: 0.25s ease-in-out;
		-ms-transition: 0.25s ease-in-out;
		-o-transition: 0.25s ease-in-out;
		transition: 0.25s ease-in-out;
		
		&:hover, &:active
		{
			-webkit-transform: scale(1.25);
			-moz-transform: scale(1.25);
			-ms-transform: scale(1.25);
			-o-transform: scale(1.25);
			transform: scale(1.25);
		}
	}
}

.fa-icon-tiny
{
	&:before
	{
		font-size: 12px;
	}
	
	&.icon-circle
	{
		height: 24px;
		width: 24px;
		line-height: 24px;
	}
}

.fa-icon-small
{
	&:before
	{
		font-size: 18px;
	}
	
	&.icon-circle
	{
		height: 36px;
		width: 36px;
		line-height: 36px;
	}
}

.fa-icon-normal
{
	&:before
	{
		font-size: 24px;
	}
	
	&.icon-circle
	{
		height: 48px;
		width: 48px;
		line-height: 48px;
	}
}

.fa-icon-large
{
	&:before
	{
		font-size: 35px;
	}
	
	&.icon-circle
	{
		height: 70px;
		width: 70px;
		line-height: 70px;
	}
}

.fa-icon-huge
{
	&:before
	{
		font-size: 50px;
	}
	
	&.icon-circle
	{
		height: 100px;
		width: 100px;
		line-height: 100px;
	}
}

.fa-facebook-f
{
	background-color: #3C599F;
}

.fa-twitter
{
	background-color: #32CCFE
}

.fa-instagram
{
	background-color: #A1755C;
}

.fa-youtube
{
	background-color: #C52F30;
}

/* ----------------------------------------------------
  |                                                    |
  |	ALL LAYOUTs                                        |
  |                                                    |
   ---------------------------------------------------- */
   
body
 {
	 font-size: 16px;
	 font-family: 'Raleway', sans-serif;
	 height: 100%;
 }

/* ----------------------------------------------------
  |                                                    |
  |	MAIN LAYOUT                                        |
  |                                                    |
   ---------------------------------------------------- */

body#main-layout
{
	color: white;
	background-color: #000000;
	padding-top: 10rem;

	&.navbar-short {
		padding-top: 5rem;
	}
	
	p
	{
		font-size: 1rem;
		color: white;
		font-family: 'Raleway', sans-serif;
	}
	
	a, a:hover, a:focus, a:visited
	{
		color: #F73327;
	}
	
	a.subtle-link, a.subtle-link:hover, a.subtle-link:focus, a.subtle-link:visited
	{
		color: white;
		font-weight: bold;
	}

	.btn {
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:visited
	{
		font-family: 'Raleway', sans-serif;
		font-size: 1rem;
		color: white;
	}

	.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, 
	.btn-primary:active:hover, .btn-primary:active:focus
	{
		background: none;
		font-weight: bold;
		background-color: #F73327;
		border-color: #F73327;
		outline: none;
		color: white;
	}

	.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, 
	.btn-outline-primary:active:hover, .btn-outline-primary:active:focus
	{
		background: none;
		font-weight: bold;
		border-color: #F73327;
		outline: none;
	}

	.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, 
	.btn-outline-primary:active:hover, .btn-outline-primary:active:focus
	{
		background-color: #F73327;
		color: white;
	}
}

/* ----------------------------------------------------
  |                                                    |
  |	MAIN HEADER                                        |
  |                                                    |
   ---------------------------------------------------- */

#main-nav
{
	background: none;
	background-color: #000000;
	border: none;
	border-bottom: 1px solid white;
}

#main-nav .navbar-brand
{
	color: white;
	height: 10rem;
	padding: 5px;
	transition: all 0.3s ease-in-out;
}

body#main-layout.navbar-short {
	#main-nav .navbar-brand
	{
		height: 5rem;
	}
}

.navbar-toggler {
	border: 1px solid white;
	
	.navbar-toggler-icon-white
	{
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
}

#main-nav-menu .navbar-nav li a
{
	color: white;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;
}

#main-nav-menu .navbar-nav li a:hover
{
	color: #F73327;
}

#main-nav-menu .navbar-nav li a:focus, #main-nav-menu .navbar-nav li a:active, #main-nav-menu .navbar-nav li a:active:focus, #main-nav-menu .navbar-nav li.open a,
#main-nav-menu .dropdown-item:focus, #main-nav-menu .dropdown-item:hover
{
	background: none!important;
}

#main-nav-menu .navbar-nav li a:not(.dropdown-toggle)::after
{
	display:block;
	content:attr(title);
	font-weight:bold;
	height:1px;
	color:transparent;
	overflow:hidden;
	visibility:hidden;
	margin-bottom:-1px;
}

#main-nav-menu .dropdown-menu
{
	background: none;
	background-color: #000000;
	min-width: 200px;
}

#main-nav-menu .navbar-nav .dropdown-menu a
{
	text-align: left;
	text-transform: none;
}

#main-nav-menu #navbar-social-links {
	flex-direction: row;

	li a {
		color: #BE4816;
	}
}

/* ----------------------------------------------------
  |                                                    |
  |	SIMPLE HEADER                                      |
  |                                                    |
   ---------------------------------------------------- */
   
#simple-nav
{
	background: none;
	background-color: #000000;
	border: none;
	border-bottom: 1px solid #ffffff;
	
	.navbar-brand
	{
		height: 7rem;
		padding: 5px;
	}
}

/* ----------------------------------------------------
  |                                                    |
  |	MANAGEMENT HEADER                                  |
  |                                                    |
   ---------------------------------------------------- */
   
#management-nav
{
	background: none;
	background-color: #000000;
	border: none;
	border-bottom: 1px solid #ffffff;
	
	.navbar-brand
	{
		height: 5rem;
		padding: 5px;
	}
	
	.nav-link
	{
		color: white;
		text-transform: uppercase;
		
		&:hover
		{
			font-weight: bold;
		}
	}
}

/* ----------------------------------------------------
  |                                                    |
  |	FOOTER                                             |
  |                                                    |
   ---------------------------------------------------- */

html 
{
  position: relative;
  min-height: 100%;
}

body 
{
  margin-bottom: 61px; /* Margin bottom by footer height */
}

.footer 
{
	position: absolute;
	z-index: 10;
	bottom: 0;
	width: 100%;
	height: 61px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	background-color: #F73327;
	overflow: hidden;
	font-size: 1rem;
	color: white;
	
	a
	{
		color: white!important;
		font-weight: bold;
	}
}

/* ----------------------------------------------------
  |                                                    |
  |	SWIPER                                             |
  |                                                    |
   ---------------------------------------------------- */

.swiper-slide 
{
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/* ----------------------------------------------------
  |                                                    |
  |	COUNTDOWN                                          |
  |                                                    |
   ---------------------------------------------------- */

#countdown-timer ul
{
	display: inline-block;
	margin: 10px 0 0 0;
}

#countdown-timer ul li
{
	display: inline-block;
	text-align: center;
	padding: 0px 10px;
	margin: 0 10px;
	vertical-align: top;
}

#countdown-timer ul li .countdown-count, .countdown-open
{
	font-size: 4rem;
	color: #F73327;
	font-family: 'Six Caps', serif;
}

#countdown-timer ul li .countdown-label
{
	font-size: 1rem;
	color: #F73327;
}

/* ----------------------------------------------------
  |                                                    |
  |	SECTIONS                                           |
  |                                                    |
   ---------------------------------------------------- */
 
.section, .section .section-heading, .section .section-content {
	position: relative;
}

.section {
	margin-left: -15px;
	margin-right: -15px;
	background: black;
}

.section.video-bg {
	background: none;
}

.section-heading, .section-content {
	padding-left: 15px;
	padding-right: 15px;
}

.section .section-heading h2, #application-page h1, #news-page h1
{
	text-transform: uppercase;
	padding-top: 50px;
	padding-bottom: 25px;
	font-family: 'Six Caps';
	font-weight: normal;
	color: white;
	text-align: center;
}

#application-page h1
{
	color: black;
}

.section .section-content
{
	height: 100%;
	padding-bottom: 50px;
}

.section.full-height {
	height: 0;
	min-height: calc(~"100vh - 10rem");
}

body#main-layout.navbar-short .section.full-height {
	min-height: calc(~"100vh - 5rem");
}

.section.dividers-red {
	border-top: 2px solid #F73327;
	border-bottom: 2px solid #F73327;
}

.section.dividers-white {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

/* ----------------------------------------------------
  |                                                    |
  |	TICKETS                                            |
  |                                                    |
   ---------------------------------------------------- */
.ticket-card {
	background: #F73327;
	color: white;
	text-align: center;

	p {
		height: 120px;
		margin: 0;
	}

	span {
		white-space: nowrap;
	}

	span.price {
		font-family: 'Six Caps', sans-serif;
		font-size: 6rem;
		line-height: 1;
	}

	h4 {
		font-family: 'Six Caps', sans-serif;
		margin: 0;
		margin-top: 25px;
		letter-spacing: 3px;
		font-size: 2.5rem;
	}

	.divider {
		display: block;
		border-bottom: 1px solid black;
		margin: 25px 0;
	}
}



/* ----------------------------------------------------
  |                                                    |
  |	DIRECTIONS                                            |
  |                                                    |
   ---------------------------------------------------- */
#embeded-map
{
	border: 0;
	width: 100%;
	height: 600px;
	margin-bottom: -7px;
}
   
/* ----------------------------------------------------
  |                                                    |
  |	FAQ                                                |
  |                                                    |
   ---------------------------------------------------- */
   
.faq li
{
	text-align: justify;
}

/* ----------------------------------------------------
  |                                                    |
  |	GROUP PROCING MODAL                                |
  |                                                    |
   ---------------------------------------------------- */
   
// .zombie-bg
// {
// 	width: 100%;
// 	padding: 10px 25px;
// 	position: relative;
// 	z-index: 1;
// }

// .zombie-bg::before
// {
// 	content: "";
// 	position: absolute;
// 	top: 0; 
// 	left: 0;
// 	background: url("/media/img/zombie_woods.jpg");
// 	width: 100%;
// 	height: 100%;
// 	background-position:50% 100%;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	opacity: .4; 
// 	z-index: -1;
// }

.zombie-bg {
	background: #000000;
	background-image: url("/media/img/zombie_woods.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	.mask {
		background-color: rgba(0, 0, 0, 0.3);
	}
}

#groupPricingModal p, #groupPricingModal h2
{
	color: white!important;
}

#groupPricingModal p
{
	font-size: 1rem;
}

#groupPricingModal .modal-header button.close
{
	color: white;
	opacity: 1;
}

#groupPricingModal .modal-content
{
	color: white;
}

#groupPricingModal {
	
	#pricing-table {
		text-align: left!important;
		color: #F4D402;
		
		.row {
			border: 1px solid #8d8d8d;
			padding: 5px;
		}
		.header {
			font-weight: bold;
			text-align: center;
		}
	}
}

/* ----------------------------------------------------
  |                                                    |
  |	SOCIAL LINKS                                       |
  |                                                    |
   ---------------------------------------------------- */

#social-links 
{	
	border-top: 2px solid white;
	p, span, a 
	{
		color: white;
		text-decoration: none!important;
	}
}

/* ----------------------------------------------------
  |                                                    |
  |	SPONSORS PAGE                                      |
  |                                                    |
   ---------------------------------------------------- */
   
#sponsor-page
{
	.logo-container
	{
		text-align: center;
	}
	
	img
	{
		height: auto;
		max-height: 150px;
		width: auto;
		max-width: 100%;
		margin: 15px 0;
	}
} 

/* ----------------------------------------------------
  |                                                    |
  |	GIVEAWAY PAGE                                      |
  |                                                    |
   ---------------------------------------------------- */

#giveaway-page {	
	.giveaway-flyer {
		max-height: 1000px;
		max-width: 100%;
	}
	
	.fine-print {
		font-size: 1rem;
	}
}

/* ----------------------------------------------------
  |                                                    |
  |	Timeclock PAGE                                      |
  |                                                    |
   ---------------------------------------------------- */

#timeclock-page {
	.entry-row {
		padding-top: 10px;
		padding-bottom: 10px;
		
		&.on-the-clock {
			background: #ffe5e5;
		}
	}
}

/* ----------------------------------------------------
  |                                                    |
  |	ADMIN PAGE                                      |
  |                                                    |
   ---------------------------------------------------- */

#admin-page {
	.dashboard {
		.cell {
			padding: 25px 0;
			font-size: 24px;
			border: 1px solid #4d4d4d;
			margin: 1.5rem;
			
			span.large {
				font-size: 100px;
			}
		}
	}
}

#applicationlist-page, #time-sheet-data {
	.app-content, .time-clock-user-content {
		display: none;
	}
	.list-group-item.active {
		border-color: black;
		background-color: black;
	}
}

.list-group-header {
	margin-top: 50px;
}

/* ----------------------------------------------------
  |                                                    |
  |	PARALLAX                                           |
  |                                                    |
   ---------------------------------------------------- */

.parallax {
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	&::before {
		content: "";
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		height: 100%;
		width: 100%;
	}
}

[data-background='bg_scratchy_red'] {
	background-image: url("/media/img/bg_scratchy_red.jpg");
}

[data-background='bg_scratchy_gray'] {
	background-image: url("/media/img/bg_scratchy_gray.png");
}

[data-background='bg_stone_red'] {
	background-image: url("/media/img/bg_stone_red.jpg");
}

[data-background='bg_stone_gray'] {
	background-image: url("/media/img/bg_stone_gray.jpg");
}

[data-background='bg_hayride'] {
	background-image: url("/media/img/bg_hayride.jpg");
}

[data-background='bg_forest'] {
	background-image: url("/media/img/bg_forest.jpg");
}

[data-background='bg_psychosis'] {
	background-image: url("/media/img/bg_psychosis.jpg");
}

[data-background='bg_zombie'] {
	background-image: url("/media/img/bg_zombie.jpg");
}

/* ----------------------------------------------------
  |                                                    |
  |	VIDEO                                              |
  |                                                    |
   ---------------------------------------------------- */

#bg-video-player {
	position: absolute; 
	z-index: 0; 
	width: 1920px;
	height: 1080px; 
	top: -150px; 
	left: 0px; 
	overflow: hidden; 
	opacity: 1; 
	user-select: none;
	margin-left: calc(~"0px - ((1920px - 100vw)/2)"); 
	max-width: initial;
}

div#bg-video-player {
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("/media/img/video_thumbnail.jpg");
}

/* ----------------------------------------------------
  |                                                    |
  |	FAQ Acordian                                       |
  |                                                    |
   ---------------------------------------------------- */

.faq.list-group {
	.list-group-item {
		background: none;
		color: white;
		margin-bottom: 25px;
		border-radius: 5px;
		text-align: justify;
		text-align-last: center;
		padding: 0;

		span {
			padding: 15px 25px;
			display: block;
		}
	}

	.list-group-item-action {
		background: black;
		text-align: left;
		text-align-last: left;

		&::after {
			content: "";
			display: block;
			width: 0%;
			margin: 0 50%;
			border-bottom: 2px solid #F73327;
			transition: all 0.5s ease-in-out;
		}
	}

	.list-group-item.active {
		border-radius: 5px 5px 0 0;
		border: none;

		&::after {
			width: 100%;
			margin: 0;
		}
	}
}

/* ----------------------------------------------------
  |                                                    |
  |	Anchor                                             |
  |                                                    |
   ---------------------------------------------------- */

.anchor {
	display: block;
	visibility: hidden;
	height: 0px;
	position: relative;
	top: -10rem;
}

body#main-layout.navbar-short .anchor {
	top: -5rem;
}