/* ----------------------------------------------------
  |                                                    |
  |	MEDIA QUERIES                                      |
  |                                                    |
   ---------------------------------------------------- */
   
/* Extra small  and small devices (phones, 767px and down) */
@media (max-width: 767px)
{
	.parallax {
		background-attachment: scroll;
	}

	#embeded-map
	{
		height: 300px;
	}
	
	#countdown-timer ul li
	{
		margin: 0px;
		padding: 0px;
	}
	
	#countdown-timer ul li .countdown-count
	{
		font-size: 2.5rem;
	}
	
	#countdown-timer ul li .countdown-label
	{
		font-size: 0.75rem;
	}
}

/* Extra small devices (small phones, 499px and down) */
@media (max-width: 499px)
{

}

/* Small devices (normal phones, 500px and up) */
@media (min-width: 500px)
{
	.h-font-md {
		font-size: 2rem;
	}
	
	.h-font-lg {
		font-size: 5rem;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
{	
	#main-nav {
		align-items: normal;
	}

	#giveaway-page {
		h2 {
			font-size: 32px;
		}
	}

	.h-font-md {
		font-size: 2rem;
	}
	
	.h-font-lg {
		font-size: 5rem;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{
	.h-font-md {
		font-size: 3rem;
	}
	
	.h-font-lg {
		font-size: 6rem;
	}
}

/* Extra large devices (large desktops, 1900px and up) */
@media (min-width: 1900px)
{
	.h-font-md {
		font-size: 3rem;
	}
	
	.h-font-lg {
		font-size: 7rem;
	}
}

@media (max-height: 700px)
{
	.section.full-height {
		height: fit-content;
	}
}