/* ----------------------------------------------------
  |                                                    |
  |	MEDIA QUERIES                                      |
  |                                                    |
   ---------------------------------------------------- */
   
/* Extra small  and small devices (phones, 767px and down) */
@media (max-width: 767px)
{
	body#main-layout
	{
		.tag-line {
			font-size: 50px;
			line-height: 50px;
			margin-top: 25px;
		}
		
		.tag-line2 {
			font-size: 25px;
		}
	}
	
	.section .section-content
	{
		// padding: 0;
	}
	
	#embeded-map
	{
		height: 300px;
	}
	
	.section .section-heading h2, #sponsor-page h2, #photos-page h2, #team-page h2
	{
		// font-size: 32px;
	}
	
	#countdown-title
	{
		font-size: 50px;
		line-height: 50px;
	}
	
	#countdown-timer ul li
	{
		margin: 0 5px;
	}
	
	#countdown-timer ul li .countdown-count
	{
		font-size: 20px;
	}
	
	#countdown-timer ul li .countdown-label
	{
		font-size: 14px;
	}
	
	#tickets {
	    #price-list li
	    {
		   font-size: 14px;
	    }
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
{	
	body#main-layout
	{
		padding-top: 100px;
		
		.content-narrow {
			width: 75%;
			margin: 0 auto;
		}
	}
	
	#main-nav, #simple-nav, #management-nav
	{
		.navbar-brand	
		{
			height: 100px;
		}
	}
	
	#giveaway-page {
		h2 {
			font-size: 32px;
		}
	}
	
	#tickets {
	    #price-list li
	    {
		   font-size: 14px;
	    }
	}
	
	#countdown-title
	{
		font-size: 75px;
		line-height: 75px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{
	body#main-layout {
		.content-wide {
			width: 75%;
			margin: 0 auto;
		}
		
		.content-narrow {
			width: 45%;
			margin: 0 auto;
		}
	}
	
	#tickets {
	    #price-list li
	    {
		   font-size: 18px;
	    }
	}
}

/* Extra large devices (large desktops, 1900px and up) */
@media (min-width: 1900px)
{
	body#main-layout
	{
		.tag-line {
			font-size: 100px;
			line-height: 100px;
			margin-top: 100px;
		}
		
		.tag-line2 {
			font-size: 50px;
		}
	}
}