<!DOCTYPE html>
<footer class="footer">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-auto text-center">
				<span>&copy;2018 Brimstone Haunt LLC | <a href="mailto:management@BrimstoneHaunt.com" class="subtle-link">management@BrimstoneHaunt.com</a></span>
			</div>
		</div>
	</div>
</footer>
